#!/bin/bash


# Place your FQDN here, like: "http://pictures.example.com" 
FQDN="myalphabet.example.com"

# Your GCP Project Id. If on AWS, Azure, sorry I cant help.
PROJECT_ID="YOUR-PROJECT-d"

# Default directory with pictures. change to another once you add your own pictures (see readme).
# Vanilla comes pre-installed with some Pasta pictures.
ALPHABET_DEFAULT_FOLDER="vanilla"

# Message that will be visualized on top as one-off. Useful to troubleshoot your dockerized app via
OCCASIONAL_MESSAGE="This is the distribution version. Copy into .env and edit away!"

##########################################################
# This config works with this naming:
# Sample filename: "buongiorno (good morning).jpg"
# Primary: Italian. 
LANGUAGE_FLAG_PRIMARY="🇮🇹"
# Secondary: English
LANGUAGE_FLAG_PRIMARY="🇬🇧"
##########################################################

# kubectl config current-context should return this or fail
# This is an additional saving net to make sure you deploy to YOUR cluster and not a random one.
KUBERNETES_COTEXT="YOUR_CLUSTER_HERE"

