<!-- DFLT -->
<div class="thumb1 primalettera">
<!--        <h1 class="padded-multiline"> </h1> -->
      <%= link_to(alphabet_image_tag(paz, :height => size, 
                            :alt => "Legend: #{parola}"  ),
                  "/alphabet/letter/#{letter.downcase}") %>
      <span class="padded-multiline-riccardo" ><%=letter%></span>
</div>
