<!--     
    MEtti qui altro esperimento..  IMAGE pura 
-->
<% full_paz = obj.full_path if full_paz.nil? %>
<div style="width:250px;height:250px;overflow:hidden">
    <small><%= letter %></small>
    <img src="/assets/<%= full_paz %>" height="250" width="250" />
</div>