<!-- 
TODO(): modulericc e' cosi' fico che considera questa la piattaforma di sviluppo.
comincia con accorciare la cosa in basso e a metterci l'intera parola con iniziale grossa.
-->

<a href="/alphabet/letter/<%=letter%>" >
<div class="modulericcvert" style="background: url('/assets/<%=full_paz%>'); background-size: 340px 340px;" >
<header>
    <h3 class='letterona' ><%=parola %></h3>
</header>
</div>
</a>
