  <!-- 
    FIGHISSIMO ma non fa vedere TUTTE le foto non so se sia problema di asset 
    copiato dfa SkyScraper
  -->
  <%
  
  
  %>
  <div class="modulericc" style="background: url('/assets/<%=full_paz%>'); background-size: 340px 340px;" >
    <header>
      <h1><%=letter %></h1>
    </header>
  </div>
